* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.movie-search-app {
  text-align: center;
}

.nav {
  background-color: #000;
  color: #fff;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container {
  margin: 20px;
}

.search-container input {
  height: 10px;
  width: 40%;
}

.search-container button {
  margin-left: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}

.movie-card {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.movie-card h2 {
  margin: 10px 0;
  font-size: 1.2rem;
  font-family: 400 12px/1 RobotoCondensed Bold, Trebuchet MS, Helvetica, Arial,
    sans-serif;
  text-align: center;
}

.movie-card img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 10px;
}

.movie-card p {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}
